<body>

  <h2>participants</h2>

  <div class="row" style="margin-left: 2em">
    <h3>Group by: </h3>
    <button type="button" class="btn btn-success" (click)="rearange()">Average</button>
  </div>

  <div class="participants">  </div>
  <div class="row">
    <div class="chart col-sm-8"></div>
    <div class="col-sm-4" > 
        <h1>Grouped</h1>
        <div class="chartArrange"></div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-1 label">1</div>
      <div class="col-sm-1 label">2</div>
      <div class="col-sm-1 label">3</div>
      <div class="col-sm-1 label">4</div>
      <div class="col-sm-1 label">5</div>
      <div class="col-sm-1 label">6</div>
      <div class="col-sm-1 label">7</div>
      <div class="col-sm-1 label">8</div>
      <div class="col-sm-1 label">9</div>
      <div class="col-sm-1 label">10</div>
      <div class="col-sm-1 label">11</div>
      <div class="col-sm-1 label">12</div>
    </div>
  <div class="row">
    <div class="col-sm-1 datahere" style="margin-left: 0em;"></div>
    <div class="col-sm-1 datahere"></div>
    <div class="col-sm-1 datahere"></div>
    <div class="col-sm-1 datahere"></div>
    <div class="col-sm-1 datahere"></div>
    <div class="col-sm-1 datahere"></div>
    <div class="col-sm-1 datahere"></div>
    <div class="col-sm-1 datahere"></div>
    <div class="col-sm-1 datahere"></div>
    <div class="col-sm-1 datahere"></div>
    <div class="col-sm-1 datahere"></div>
    <div class="col-sm-1 datahere" style="margin-right: 0em"></div>
  </div>

  
  <p></p>

  
</body>